# Build outputs
/build/
/.tox/
**/dist/
**/.eggs/
girder-*.tar.gz
node_modules/
*.egg-info

# Toolchain generated
__pycache__
.eslintcache
/npm-debug.log
.vagrant
*.py[cod]
**/*.retry
.ipynb_checkpoints

# IDE / OS generated
.DS_Store
.idea/
.PyCharm50/
.vscode/
.*.swo
.*.swp

# Virtual environment
.venv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Keys
*.csr
*.key
*.pem
*.crt
*.credentials*

reports
