amqp==2.3.2
asn1crypto==0.24.0
awscli==1.15.58
awsebcli==3.14.2
backports.functools-lru-cache==1.5
bcrypt==3.1.4
billiard==3.5.0.4
blessed==1.15.0
boto3==1.7.57
botocore==1.10.57
cached-property==1.4.3
celery==4.1.1
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cheroot==6.3.3
CherryPy==11.0.0
click==6.7
click-plugins==1.0.3
colorama==0.3.9
cryptography>=2.3
ctk-cli==1.4
decorator==4.3.0
diskcache==3.0.6
dnspython==1.15.0
docker==3.4.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
dogpile.cache==0.6.6
filelock==3.0.4
geojson==2.4.0
-e git+https://github.com/girder/girder.git@ea56f0bd839ce6cda2b699ceefebdc7f2b85c4dc#egg=girder
girder-client==2.4.0
girder-worker==0.5.0
girder-worker-utils==0.8.3
idna==2.6
jaraco.functools==1.20
jmespath==0.9.3
jsonpickle==0.9.6
jsonschema==2.6.0
kombu==4.2.1
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.2.0
networkx==1.11
numpy==1.14.5
passlib==1.7.1
pathspec==0.5.5
pbr==4.1.0
Pillow==5.2.0
portend==2.3
psutil==5.4.6
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
pydicom==1.1.0
pyldap==3.0.0.post1
pymongo==3.7.0
python-dateutil==2.6.1
python-ldap==3.1.0
pytz==2018.5
PyYAML==3.13
requests>=2.20.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
semantic-version==2.5.0
setuptools-scm==2.1.0
six==1.11.0
stevedore==1.28.0
tabulate==0.7.5
tempora==1.13
termcolor==1.1.0
texttable==0.9.1
urllib3>=1.23
vine==1.1.4
wcwidth==0.1.7
websocket-client==0.48.0
