body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#body-below-nav {
  position: relative;
  top: 65px;
  width: 100%;
}

.file_selector, #template, #json_out, #your-files-selector {
  text-align: center;
  width: 100%;
}

.instructions {
  text-align: left;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 0.5ex;
}
