option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /html: girderformindlogger/web_client/static

packages:
  yum:
    gcc: []
    git: []
    openldap-devel: []
    gcc-c++: []
    make: []

commands:
  01_make_log_root:
    command: 'sudo mkdir -p /var/log/girderformindlogger'
  10_download_node_js:
    command: 'curl -sL https://rpm.nodesource.com/setup_16.x | sudo -E bash -'
  11_install_node_js:
    command: 'sudo yum install -y nodejs'
  12_install_pm2:
    command: 'npm i pm2 -g'
