/* === Open Sans - regular */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url("./font/OpenSans-Regular.eot");
	src: local("Open Sans Regular"),
		local("OpenSans-Regular"),
		url("./font/OpenSans-Regular.eot") format("embedded-opentype"),
		url("./font/OpenSans-Regular.woff2") format("woff2"),
		url("./font/OpenSans-Regular.woff") format("woff"),
		url("./font/OpenSans-Regular.ttf") format("truetype"),
		url("./font/OpenSans-Regular.svg") format("svg");
}

/* === Open Sans - 700 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url("./font/OpenSans-Bold.eot");
	src: local("Open Sans Bold"),
		local("OpenSans-Bold"),
		url("./font/OpenSans-Bold.eot") format("embedded-opentype"),
		url("./font/OpenSans-Bold.woff2") format("woff2"),
		url("./font/OpenSans-Bold.woff") format("woff"),
		url("./font/OpenSans-Bold.ttf") format("truetype"),
		url("./font/OpenSans-Bold.svg") format("svg");
}

/* === Open Sans - italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url("./font/OpenSans-Italic.eot");
	src: local("Open Sans Italic"),
		local("OpenSans-Italic"),
		url("./font/OpenSans-Italic.eot") format("embedded-opentype"),
		url("./font/OpenSans-Italic.woff2") format("woff2"),
		url("./font/OpenSans-Italic.woff") format("woff"),
		url("./font/OpenSans-Italic.ttf") format("truetype"),
		url("./font/OpenSans-Italic.svg") format("svg");
}

/* === Open Sans - 700italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url("./font/OpenSans-BoldItalic.eot");
	src: local("Open Sans Bold Italic"),
		local("OpenSans-BoldItalic"),
		url("./font/OpenSans-BoldItalic.eot") format("embedded-opentype"),
		url("./font/OpenSans-BoldItalic.woff2") format("woff2"),
		url("./font/OpenSans-BoldItalic.woff") format("woff"),
		url("./font/OpenSans-BoldItalic.ttf") format("truetype"),
		url("./font/OpenSans-BoldItalic.svg") format("svg");
}
