{
  "postgres": {
    "dbname":"SanctumSanctorum",
    "user":"wong",
    "host":"127.0.0.1",
    "password":"jectorsefulatedistrologicat"
  },
  "girder-dev": {
    "user":"wongwongwong",
    "host":"127.0.0.1:8080",
    "password":"parionistersenestionlityper"
  },
  "girder-production": {
    "user":"wongwongwong",
    "host":"www.marvel.com/doctorstrange",
    "password":"eNestIONaliTyPOrustRaterSeaT",
    "APIkey":"h|]6ndnEm{1i5Xz{=o{8vzzd&&%'6}4p30z2e1=u"
  },
  "missing_persons": {
    "first_name": "Steven",
    "last_name": "Strange"
  },
  "firebase": {
    "apiKey": "zv9hkfzz8kwebc59h7iyVpfG4KCFhorKKfQ7537p",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": ""
  }
}
