files:
  "/etc/awslogs/config/girderlogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/girderformindlogger/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/girderformindlogger/error.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = [%Y-%m-%d %H:%M:%S,%f]
      multi_line_start_pattern = {datetime_format}
      file = /var/log/girderformindlogger/error.log*

      [/var/log/girderformindlogger/info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/girderformindlogger/info.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = [%Y-%m-%d %H:%M:%S,%f]
      multi_line_start_pattern = {datetime_format}
      file = /var/log/girderformindlogger/info.log*
